* {
  box-sizing: border-box;
}

body {
  background-color: azure;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.section {
  padding: 50px 0;
}

.section-heading {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
}

.blue-section {
  background-color: #405d78;
}

.white-heading {
  color: white;
}

/* --- HEADER --- */
.header {
  padding: 10px;
  background-color: bisque;

  -webkit-box-shadow: -10px 8px 28px -12px rgba(66, 68, 90, 1);
  -moz-box-shadow: -10px 8px 28px -12px rgba(66, 68, 90, 1);
  box-shadow: -10px 8px 28px -12px rgba(66, 68, 90, 1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  -webkit-box-shadow: -10px 8px 28px -12px rgba(66, 68, 90, 1);
  -moz-box-shadow: -10px 8px 28px -12px rgba(66, 68, 90, 1);
  box-shadow: -10px 8px 28px -12px rgba(66, 68, 90, 1);
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-item {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.disabled-nav-item {
  color: darkgray;
  cursor: not-allowed;
}

/* --- LANDING --- */
.langing-section {
  position: relative;
}

.landing-image {
  width: 100%;
  height: calc(100vh - 70px);

  filter: brightness(70%);
}

.landing-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: white;
}

.landing-flex-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.langing-heading {
  font-size: 36px;
  font-weight: 700;
  width: 550px;
}

.langing-description {
  font-size: 18px;
  font-weight: 700;
}

.landing-button {
  width: fit-content;
  padding: 15px 55px;
  font: size 18px;
  font-weight: 700;
  background-color: transparent;
  color: white;
  border: 4px solid white;
  cursor: pointer;
}

/* --- SPECIALISTS --- */
.specialist-list-item {
  display: flex;
  align-items: center;
  gap: 60px;
}

.specialist-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.specialist-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.specialist-name {
  font-weight: 700;
}

/* --- SERVICES --- */
.service-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: center;
  gap: 50px;
}

.service-item {
  padding: 15px;
  width: 200px;
  height: 200px;

  background-color: aliceblue;
  border: 1px solid darkgray;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: -10px 8px 28px -12px rgba(66, 68, 90, 1);
  -moz-box-shadow: -10px 8px 28px -12px rgba(66, 68, 90, 1);
  box-shadow: -10px 8px 28px -12px rgba(66, 68, 90, 1);
}
